body {
    padding: 5px;
    margin: 0px;
}

h1, ul, p, ol, h2 {
    font-family: 'Courier New', Courier, monospace;
}

title {
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
}

h1, h2 {
    text-align: center;
}

ul, p, ol {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #436e3f;
}

ul {
    list-style: square;
}